@import "./normelize.scss";

body{
    padding: 1rem;
}

h1{
    overflow: hidden;
    span{
        margin-right: 1rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        display: inline-block;
    }
    .span1{
        transform: translate(0px, -50px);
    }
    .span2{
        transform: translate(0px, 50px);
    }
}